@import "tailwindcss";

@font-face {
  font-family: 'FiraCode';
  src: url('/fonts/FiraCode.ttf') format('truetype');
}

html{
  font-size: 16px;
}

*{
  font-family: "FiraCode", monospace;
  
}

h1{
  font-size: 3.75rem;
  line-height: 110%;
}

h2{  
 font-size: 3rem;
 line-height: 120%;
}

h3{
  font-size: 2.25rem;
  line-height: 130%;
}

h4{
  font-size: 1.88rem;
  line-height: 140%;
}

h5{
  font-size: 1.5rem;
  line-height: 150%;
}
h6{
  font-size: 1.25rem;
  line-height: 150%;
}

@media (max-width: 1024px) {
  h2{
    font-size: 2rem;
  }

  h3{
    font-size: 1.5rem;
  }

  h4{
    font-size: 1.25rem;
  }
  h5{
    font-size: 1.125rem;
  }

  html{font-size: 14px;}
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;             /* Chrome, Safari */
}

/* WebKit browsers */
.gutter-scrollbar::-webkit-scrollbar {
  width: 14px; /* gutter width */
}

.gutter-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.gutter-scrollbar::-webkit-scrollbar-thumb {
  background-color: #1e293b;
  width: 6px;              /* thumb width */
  margin: 4px auto;        /* centers thumb horizontally */
  border-radius: 2px;      /* rectangular, not pill */
}

.gutter-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #334155;
}

.gutter-scrollbar::-webkit-scrollbar-thumb {
  min-height: 24px;
}

/* Firefox */
.gutter-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #1e293b transparent;
}


@theme{
  --color-themeBackdrop: #020618;
  --color-themeBg: #0F172B;
  --color-themeFg: #90A1B9;
  --color-themeStroke: #314158;
  --color-primary: #FFB86A;

  --spacing-1: 0.125rem;
  --spacing-2: 0.25rem;
  --spacing-3: 0.5rem;
  --spacing-4: 0.75rem;
  --spacing-5: 1rem;
  --spacing-6: 1.5rem;
  --spacing-7: 2rem;
  --spacing-8: 2.5rem;
  --spacing-9: 3rem;
  --spacing-10: 4rem;

  --radius-sm: 0.125rem;
  --radius-md: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 1rem;

}