@import "tailwindcss";

@font-face {
  font-family: 'FiraCode';
  src: url('/fonts/FiraCode.ttf') format('truetype');
}

html{
  font-size: 16px;
}

*{
  font-family: "FiraCode", monospace;
  
}

h1{
  font-size: 3.75rem;
  line-height: 110%;
}

h2{  
 font-size: 3rem;
 line-height: 120%;
}

h3{
  font-size: 2.25rem;
  line-height: 130%;
}

h4{
  font-size: 1.88rem;
  line-height: 140%;
}

h5{
  font-size: 1.5rem;
  line-height: 150%;
}
h6{
  font-size: 1.25rem;
  line-height: 150%;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: #334155;
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #475569;
}

@theme{
  --color-themeBackdrop: #020618;
  --color-themeBg: #0F172B;
  --color-themeFg: #90A1B9;
  --color-themeStroke: #314158;
  --color-primary: #FFB86A;

  --spacing-1: 0.125rem;
  --spacing-2: 0.25rem;
  --spacing-3: 0.5rem;
  --spacing-4: 0.75rem;
  --spacing-5: 1rem;
  --spacing-6: 1.5rem;
  --spacing-7: 2rem;
  --spacing-8: 2.5rem;
  --spacing-9: 3rem;
  --spacing-10: 4rem;

  --radius-sm: 0.125rem;
  --radius-md: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 1rem;

}